language: go

go:
  - tip
  - 1.10.x
  - 1.9.x

os:
  - linux
  - osx

matrix:
  allow_failures:
    - tip
  fast_finish: true

before_install:
  - go get -t -v ./...
  - go get -v golang.org/x/tools/cmd/goimports

script:
  - test -z $(goimports -d .)
  # build test for supported platforms
  - GOOS=linux go build
  - GOOS=darwin go build
  - GOOS=freebsd go build
  - GOOS=windows go build
  - GOARCH=386 go build

  # run tests on a standard platform
  - go test -v ./...
