name: Lint
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  # Required: allow read access to the content for analysis.
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  # Optional: Allow write access to checks to allow the action to annotate code in the PR.
  checks: write

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: 1.26.x
    - run: go version
    - name: Run golangci-lint
      uses: golangci/golangci-lint-action@v9.2.0
      with:
        version: v2.10.1
        args: --verbose
